@using Manage.Models.Assignment
@model AssignmentAddViewModel

@section plugin_styles{
    <link href="~/vendor/select/selectr.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div class="container py-5">
    <div class="row">
        <h1 class="text-center w-100">Add task</h1>
        <div class="col-12">
            <form asp-action="add" asp-controller="assignment" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label main-color"></label>
                                <input asp-for="Title" class="form-control">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label main-color"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Status"></label>
                                <select class="form-select py-2 selectbox w-100" asp-for="Status" asp-items="Html.GetEnumSelectList<Core.Constants.Task.TaskStatus>()"></select>
                                <span asp-validation-for="Status" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Deadline" class="control-label main-color"></label>
                                <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="Deadline" class="form-control">
                                <span asp-validation-for="Deadline" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="mb-3" asp-for="StaffIds"></label>
                            <select id="staffs_multiselect" asp-for="StaffIds" asp-items='new SelectList(Model.Staffs, "Id", "Fullname")' style="width: 100%" multiple="multiple" data-placeholder="Choose.."></select>
                            <span asp-validation-for="StaffIds" class="invalid-feedback" style="display:block"></span>
                        </div>
                        <div class="col-12 text-center">
                            <div class="form-group">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <a asp-action="index" asp-controller="assignment" class="main-color">Back to List</a>
        </div>
    </div>
</div>

@section plugin_scripts{
    <script src="~/vendor/select/selectr.min.js" asp-append-version="true"></script>
}


    @section Scripts{
    <script>

        new Selectr('#staffs_multiselect', {
            multiple: true
        });
    </script>
    <!-- validate js -->
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }